<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean class="com.demo.demo.Student" name="Student1">
        <property name="studentId">
            <value>1286567</value>
        </property>

        <property name="studentName" value="Ankush"/>
        <property name="studentAddress">
            <value>
                Bihar
            </value>
        </property>
    </bean>


</beans>
